:root {
    --background-color: #181719;
    --color-white: #FFFFFF;
    --color-perfil: #828282;
    --color-footer: #A9A9A9;
    --font-crimson-pro: 'Crimson Pro', serif;
    --font-lora: 'Lora', serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    font-size: 62.5%;
}

body {
 font-family: 'Montserrat', sans-serif;
 background-color: var(--background-color);
}

header {
    width: 100%;
    min-width: 320px;
    height: 100px;
}

header nav {
    width: 90%;
    max-width: 1200px;
    height: 80%;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 30px 0 0 0;
}

.content-menu_mobile {
    width: 100%;
}

.content-menu_mobile img {
    width: 25px;
    height: 25px;
    position: absolute;
    right: 0;
    margin: 38px 24px 0 0;
}

.content-menu_mobile .menu-mobile {
    width: 100%;
    height: 90vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
}

.content-menu_mobile .menu-mobile li {
    padding-bottom: 2px;
    margin-bottom: 30px;
}

.content-menu_mobile .menu-mobile li:hover {
    border-bottom: 3px solid var(--color-white);
}

.content-menu_mobile .menu-mobile li a {
    text-decoration: none;
    font-size: 1.8rem;
    font-weight: 700;
    font-style: normal;
    line-height: 2.2rem;
    color: var(--color-white);
}

header nav p {
    border: 1px solid var(--color-white);
    color: var(--color-white);
    padding: 15px;
    font-size: 1.4rem;
    font-size: 200;
    line-height: 1.6rem;
    font-style: normal;
    font-family: var(--font-crimson-pro);
}
 .menu-desktop {
    padding: 15px;
    width: 300px;
    height: 50px;
    display: flex;
    justify-content: flex-end;
    list-style: none;
    display: none;
}

.icon-menu {
    list-style: none;
    padding-top: 10px;
}

.icon-menu img {
    width: 35px;
}

main {
    width: 100%;
    min-width: 320px;
    height: auto;
}

.content-sections {
    padding-top: 50px;
    width: 90%;
    max-width: 1200px;
    min-width: 300px;
    margin: 0 auto;
}

.description-company {
    width: 100%;
    max-width: 400px;
    height: auto;
}

.description-company h1 {
    font-size: 3.6rem;
    font-weight: 500;
    font-style: normal;
    font-family: var(--font-lora);
    line-height: 4.6rem;
    color: var(--color-white);
}

.description-company h1 {
    margin-bottom: 35px;

}

.description-company p {
    font-size: 1.6rem;
    font-weight: 400;
    font-style: normal;
    line-height: 1.8rem;
    color: var(--color-white);
}

.description-company p {
    width: 250px;
    margin-bottom: 20px;
}

.description-company div {
    width: 200px;
    display: flex;
    margin-bottom: 35px;
}

.description-company div h3 {
    font-size: 1.4rem;
    font-weight: 700;
    font-style: normal;
    line-height: 1.7rem;
    color: var(--color-white); 
}

.description-company div img {
    width: 37px;
    height: 14px;
    margin: 2px 0 0 8px; 
    
}

.content-image_perfil {
    width: 100%;
    max-width: 650px;
    height: auto;
}

.content-image_perfil .photo {
    width: 100%;
    max-width: 700px;

} 

.content-image_perfil .content-perfil {
    width: 80%;
    max-width: 300px;
    height: auto;
    background-color: #181719;
    color: var(--color-white);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    position: absolute;
    margin-top: -60px;
    margin-left: 35px;
}

.content-perfil .content-image_name {
    display: flex;
    margin: 20px 0 0 15px;
}

.content-perfil .content-image_name img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.content-name {
    padding: 4px 0 0 14px;
}

.content-name h3 {
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
    font-style: normal;
}

.content-name h3 {
    margin-bottom: 4px;
}

.content-name p {
    font-size: 1.0rem;
    font-weight: 500;
    line-height: 1.2rem;
    color: var(--color-perfil);
}

.content-perfil h2 {
    font-family: var(--font-lora);
    font-size: 1.8rem;
    font-weight: 700;
    line-height:2.3rem;
    color: var(--color-white);
}

.content-perfil h2 {
    margin: 30px 0 0 15px;
    padding-bottom: 15px;
    width: 200px;
}

footer {
    width: 100%;
    min-width: 320px;
    height: 50px;
    position: absolute;
    bottom: -200px;
}

footer p {
    text-align: center;
}

footer p span {
    color: var(--color-footer);
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 1.7rem;
}

footer p a {
    color: var(--color-footer);
    font-size: 1.4rem;
    font-weight: 700;
    line-height: 1.7rem;
}


/*version tablet*/

@media (min-width: 767px) {
    .menu-desktop {
        padding: 15px;
        width: 300px;
        height: 50px;
        display: flex;
        justify-content: flex-end;
        list-style: none;
    }
    
    .menu-desktop li {
        margin-right: 24px;
    }
    
    .menu-desktop li a {
        color: var(--color-white);
        text-decoration: none;
        font-size: 1.8rem;
        font-weight: 500;
        line-height: 2.2rem;
    }
    
    .menu-desktop li a:hover {
        border-bottom: 3px solid var(--color-white);
    
    }

    .icon-menu {
        display: none;
    }

    .description-company {
        margin-top: 100px;
    }

    .content-sections {
        display: flex;
        justify-content: space-between;
    }

    .content-image_perfil {
    margin-right: 40px;
    }
}